<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <title>VueJS Tutorials</title>
</head>

<body>
    <!-- id must be whatever you want the vue to control -->
    <div id="vue-app">
        <h2>Data Binding</h2>
        <!-- passing data from vue to html -->
        <p>Name: {{name}}</p>
        <p>Job: {{job}}</p>

        <!-- passing a function and parameters between vue and html -->
        <p>{{greet('Morning')}}</p>

        <!-- data binding v-bind:whatever attribute you want to bind data to -->
        <a v-bind:href="website">Google</a>
        <br />
        <input type="text" v-bind:value="job">
        <br />

        <!-- renders html tags written in vue -->
        <p v-html="websiteTag"></p>
    </div>

    <hr />

    <!-- events tutorial -->
    <div id="vue-events">
        <h2>Events/Event Modifiers</h2>

        <!-- modifier .once makes it so function only runs once -->
        <button v-on:click.once="add(1)">Add a year</button>

        <!-- handles click listener, pass parameter of amount to increment or decrement -->
        <button v-on:click="subtract(1)">Subtract a year</button>
        <button v-on:dblclick="add(10)">Add 10 years</button>
        <button v-on:dblclick="subtract(10)">Subtract 10 years</button>
        <p>My age is {{age}}.</p>

        <!-- handles mouse movement within the canvas -->
        <div id="canvas" v-on:mousemove="updateXY">
            {{x}}, {{y}}
        </div>

        <!-- prevents default action that happens on click -->
        <a v-on:click.prevent="click" href="https://google.com">Google</a>

        <hr />

        <h2>Keyboard Events</h2>
        <label>Name:</label>
        <!-- only fires on the keyup of enter -->
        <!-- v-model two way binds element to property in vue -->
        <input type="text" v-model="name" v-on:keyup.enter="logName" />
        <span>{{name}}</span>
        <label>Age:</label>
        <!-- fires on keyup of alt+enter -->
        <input type="text" v-model="ageTwoWay" v-on:keyup.alt.enter="logAge" />
        <span>{{ageTwoWay}}</span>
    </div>

    <hr />

    <!-- Computed properties -->
    <div id="vue-computed-properties">
        <h2>Computed Properties</h2>
        <button v-on:click="a++">Add To A</button>
        <button v-on:click="b++">Add To B</button>
        <button v-on:click="a--">Subtract From A</button>
        <button v-on:click="b--">Subtract From B</button>
        <button v-on:dblclick="a+=10">Dblclick Add 10 To A</button>
        <p>A - {{a}}</p>
        <p>B - {{b}}</p>
        <!-- every time a value changes, vue runs both functions -->
        <!-- if functions are methods with parentheses -->
        <!-- if they are computed methods (no parentheses), only runs function that changes -->
        <p>Age + A = {{addToA}}</p>
        <p>Age + B = {{addToB}}</p>
    </div>

    <hr />

    <!-- Dynamic CSS -->
    <div id="vue-dynamic-css">
        <h2>Dynamic CSS</h2>
        <h3>Example 1</h3>
        <!-- <div v-on:click="available = !available" v-bind:class="{available: available}">
            <span>Taxi</span>
        </div> -->

        <h3>Example 2</h3>
        <!-- click toggles the boolean values of property in vue -->
        <button v-on:click="nearby = !nearby">Toggle Nearby</button>
        <button v-on:click="available = !available">Toggle Available</button>

        <!-- has the computed class compClasses which is an object that has the properties of "nearby" and "available" -->
        <div v-bind:class="compClasses">
            <span>Taxi</span>
        </div>
    </div>

    <hr />

    <!-- Conditionals -->
    <div id="vue-conditionals">
        <h2>Conditionals</h2>
        <!-- toggles boolean values in vue on click of each button -->
        <button v-on:click="error = !error">Toggle Error</button>
        <button v-on:click="success = !success">Toggle Success</button>

        <!-- v-if removes element if "error" is false -->
        <!-- <p v-if="error">Error</p> -->

        <!-- v-else-if checks to see if any other ifs are true, if they are, the element will not display -->
        <!-- <p v-else-if="success">Success</p> -->

        <!-- v-show sets display to none instead of removing element completely -->
        <p v-show="error">Error</p>
        <p v-show="success">Success</p>
    </div>

    <hr />

    <!-- Looping with v-for -->
    <div id="vue-loop">
        <h2>Looping</h2>
        <button v-on:click="shown = !shown">Toggle Show</button>
        <ul v-bind:class="{shown: shown}">
            <li v-for="(ninja, index) in ninjas">{{index}}, {{ninja.name}}, {{ninja.age}} </li>
        </ul>
        <ul>
            <li v-for="character in characters">{{character}}</li>
        </ul>
        <!-- template just outputs whatever is inside it (unlike a div tag) -->
        <!-- to see/use index just write it (ninja, index) instead of ninja -->
        <template v-for="(ninja, index) in ninjas">
            <h3>{{index}}. {{ninja.name}}</h3>
            <p>{{ninja.age}}</p>
        </template>
        <!-- if the keys/values are unknown you can loop through each object in the loop to find out what they are -->
        <template v-for="ninja in ninjas">
            <div v-for="(val,key) in ninja">
                <p>{{key}}, {{val}}</p>
            </div>
        </template>
    </div>

    <hr />

    <!-- game -->
    <div id="vue-game">
        <h2>Vue Game</h2>
        <!-- bag image -->
        <!-- when game "ended" is true, add burst class (changes background image) -->
        <div id="bag" v-bind:class="{burst: ended}"></div>

        <!-- bag health -->
        <div id="bag-health">
            <!-- change width of health bar when punched -->
            <div v-bind:style="{width: health + '%'}"></div>
        </div>
        <!-- game controls -->
        <div id="controls">
            <!-- only show punch button when "ended" is not true -->
            <button v-on:click="punch" v-show="!ended">Punch</button>
            <!-- brings health back to 100 and changes ended to false -->
            <button v-on:click="restart">Restart</button>
        </div>
    </div>

    <hr />

    <!-- multiple vue instances -->
    <!-- each div is controlled by a different vue which means you have independent control over each one -->
    <div id="multiple-vue-1">
        <h2>{{title}}</h2>
        <p>{{greet}}</p>
    </div>

    <!-- you are able to access any vue from any other vue -->
    <div id="multiple-vue-2">
        <h2>{{title}}</h2>
        <p>{{greet}}</p>
        <button v-on:click="changeTitle">Change App One Title</button>
    </div>
    <script src="app.js"></script>
</body>

</html>