<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <title>VueJS Tutorials</title>
</head>

<body>
    <!-- id must be whatever you want the vue to control -->
    <div id="vue-app">
        <h2>Data Binding</h2>
        <!-- passing data from vue to html -->
        <p>Name: {{name}}</p>
        <p>Job: {{job}}</p>

        <!-- passing a function and parameters between vue and html -->
        <p>{{greet('Morning')}}</p>

        <!-- data binding v-bind:whatever attribute you want to bind data to -->
        <a v-bind:href="website">Google</a>
        <br />
        <input type="text" v-bind:value="job">
        <br />

        <!-- renders html tags written in vue -->
        <p v-html="websiteTag"></p>
    </div>


    <!-- events tutorial -->
    <div id="vue-events">
        <h2>Events/Event Modifiers</h2>

        <!-- modifier .once makes it so function only runs once -->
        <button v-on:click.once="add(1)">Add a year</button>

        <!-- handles click listener, pass parameter of amount to increment or decrement -->
        <button v-on:click="subtract(1)">Subtract a year</button>
        <button v-on:dblclick="add(10)">Add 10 years</button>
        <button v-on:dblclick="subtract(10)">Subtract 10 years</button>
        <p>My age is {{age}}.</p>

        <!-- handles mouse movement within the canvas -->
        <div id="canvas" v-on:mousemove="updateXY">
            {{x}}, {{y}}
        </div>

        <!-- prevents default action that happens on click -->
        <a v-on:click.prevent="click" href="https://google.com">Google</a>


        <h2>Keyboard Events</h2>
        <label>Name:</label>
        <!-- only fires on the keyup of enter -->
        <!-- v-model two way binds element to property in vue -->
        <input type="text" v-model="name" v-on:keyup.enter="logName" />
        <span>{{name}}</span>
        <label>Age:</label>
        <!-- fires on keyup of alt+enter -->
        <input type="text" v-model="ageTwoWay" v-on:keyup.alt.enter="logAge" />
        <span>{{ageTwoWay}}</span>
    </div>

    <!-- Computed properties -->
    <div id="vue-computed-properties">
        <h2>Computed Properties</h2>
        <button v-on:click="a++">Add To A</button>
        <button v-on:click="b++">Add To B</button>
        <button v-on:click="a--">Subtract From A</button>
        <button v-on:click="b--">Subtract From B</button>
        <button v-on:dblclick="a+=10">Dblclick Add 10 To A</button>
        <p>A - {{a}}</p>
        <p>B - {{b}}</p>
        <!-- every time a value changes, vue runs both functions -->
        <!-- if functions are methods with parentheses -->
        <!-- if they are computed methods (no parentheses), only runs function that changes -->
        <p>Age + A = {{addToA}}</p>
        <p>Age + B = {{addToB}}</p>
    </div>

    <!-- Dynamic CSS -->
    <div id="vue-dynamic-css">
        <h2>Dynamic CSS</h2>
        <h3>Example 1</h3>
        <!-- <div v-on:click="available = !available" v-bind:class="{available: available}">
            <span>Taxi</span>
        </div> -->

        <h3>Example 2</h3>
        <!-- click toggles the boolean values of property in vue -->
        <button v-on:click="nearby = !nearby">Toggle Nearby</button>
        <button v-on:click="available = !available">Toggle Available</button>
        
        <!-- has the computed class compClasses which is an object that has the properties of "nearby" and "available" -->
        <div v-bind:class="compClasses">
            <span>Taxi</span>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>